.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
}
