@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #0ea5e9;
    --ifm-color-primary-dark: #0d95d2;
    --ifm-color-primary-darker: #0c8cc6;
    --ifm-color-primary-darkest: #0a74a3;
    --ifm-color-primary-light: #1eb0f1;
    --ifm-color-primary-lighter: #2ab4f2;
    --ifm-color-primary-lightest: #4dc0f4;
    --ifm-code-font-size: 95%;
    --ifm-font-family-base: 'Rubik', sans-serif;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #bfdbfe;
    --ifm-color-primary-dark: #93c2fd;
    --ifm-color-primary-darker: #7db6fd;
    --ifm-color-primary-darkest: #3c91fc;
    --ifm-color-primary-light: #ebf4ff;
    --ifm-color-primary-lighter: #ffffff;
    --ifm-color-primary-lightest: #ffffff;
    --ifm-background-color: #23272d;
}

.docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
    background-color: rgba(0, 0, 0, 0.3);
}

a {
    @apply no-underline !important;
}
